@using CycleTrackerOnline.BusinessObjects;
@model RideDetails

@{
    ViewData["Title"] = "YearRides";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Cycle Tracker</title>
</head>
<body>
    <h1>@Model.ToString()</h1>
    <div>
        <div>
            <a asp-controller="rides" asp-action="index">home</a>
        </div>

        <table border="1">
            <tr>
                <td><b>Ride Date</b></td>
                <td><b>Distance in Miles</b></td>
                <td><b>Time in Hours</b></td>
                <td><b>Average Speed</b></td>
                <td><b>Ascent</b></td>
                <td><b>Calories</b></td>
            </tr>
            @foreach (SingleRide rides in Model.Rides)
            {
                <tr>
                    <td>@rides.RideDate</td>
                    <td>@rides.DistanceInMiles</td>
                    <td>@rides.TimeInHours</td>
                    <td>@rides.AverageSpeed</td>
                    <td>@rides.Ascent</td>
                    <td>@rides.Calories</td>
                </tr>
            }
        </table>
    </div>
    <div>Total number of rides: <b>@Model.RideCount</b> </div>
    <div>Total distance travelled: <b>@Model.RideTotalDistance miles</b></div>
    <div>Total time taken: <b>@Model.RideTotalTime hours</b></div>
    <div>Total Ascent: <b>@Model.RideTotalAscent ft</b></div>
    <div>Average Speed: <b>@Model.RideTotalAverageSpeed mph</b></div>
</body>
</html>

